* {
    box-sizing: border-box;
    margin: unset;
}
body, html {
    overflow: hidden;
    background:#202020;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Rubik', sans-serif;
}
.hide { display:none !important; }

aside.loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    right: 0;
    bottom: 0;
    background: #dedede;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
aside.loader h1 {
    font-weight: 500;
    color:#303030;
    font-size: 40px;
}

aside.loader h1 thin {
    font-weight: 300;
    color:#808080;
}
aside.loader h2 {
    margin-top:30px;
    font-weight: 300;
    color:#656565;
}
aside.loader .bottom {
    position: absolute;
    bottom: 100px;
    display: flex;
    align-items: center;
}
aside.loader .bottom p {
    color:#606060;
}
aside.loader .bottom svg {
    width: 35px;
    height: 35px;
    display: inline-flex;
    margin-right: 25px;
    transform-origin: center;
    animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
}
aside.loader .bottom svg circle {
    stroke: #dd4343;
    fill:transparent;
    stroke-width: 3 !important;
    stroke-dasharray: 50, 200;
    animation       : dash 2s linear infinite;
    -webkit-animation: dash 2s linear infinite;
}

main section.render canvas {
    padding:2px;
    background:#ccc;
    border-radius: 2px;
}

main .pos {
    position: fixed;
    top: 25px;
    z-index: 50;
    font-family: 'Rubik';
    right:25px;
    background:#303030;
    padding:7px 10px;
    border-radius: 5px;
    font-size: 13px;
    color:#ccc;
}

main .pos r {
    display:inline-flex;
    margin-right: 10px;
}

main .pos r:last-child {
    margin-right: 0;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray : 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray : 120, 200;
        stroke-dashoffset: -10px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

.selector {
    position: absolute;
    margin:3px;
    left: 0;
    display: flex;
    top: 0;
    border: 1px solid #4444CC;
    transform: translateY(-2px) translateX(-2px);
    width: 12px;
    transition: 50ms;
    height: 12px;
}

aside.notification {
    top: -200px;
    left: 0;
    position: fixed;
    z-index: 1000;
    right: 0;
    margin: 25px auto 0;
    background: rgba(20, 20, 20, 0.85);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(5px);
    color: #eee;
    width: 300px;
    cursor: pointer;
    display: grid;
    transition: 500ms;
    grid-template-columns: 60px calc(100% - 60px);
    font-family: rubik;
    align-items: center;
}


.about {
    position: fixed;
    left: 25px;
    font-family: 'Rubik';
    top:25px;
    z-index:100;
    background:#fafafa;
    border-radius: 5px;
    padding:27px 25px 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 400px;
    transition: 250ms;
    opacity: 1;
    transform:translateY(0);
}
.about p {
    font-size: 16px;
    color:#404040;
    line-height: 1.5em;
}

.about .network {
    margin-top:25px;
}

.about .network a {
    color:#2629EA;
    font-weight: 500;
    text-decoration: none;
}
.about .network a:hover {
    text-decoration: underline;
}

.about h2 {
    font-size: 16px;
    font-weight: 500;
    color:#000000;
    margin-top:2.5px;
    margin-bottom: 25px;
}

.about.mask {
    opacity: 0;
    visibility: hidden;
    transform:translateY(-25px);
}

.about svg {
    cursor: pointer;
    width: 25px;
    float:right;
    height: 25px;
    transition: 150ms;
}


.about svg:hover {
    transform:scale(1.1);
}

.about svg path {
    stroke:#505050;
}

aside.notification:hover {
    top: 0;
}

aside.notification.display {
    top: 0;
}
aside.notification p {
    color: #959595;
    margin-top: 3px;
}
aside.notification .icon img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

main nav {
    background: rgba(41, 38, 53, 255);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    padding:0 50px;
    align-items: center;
}
main .container * {
    user-select: none;
}
main .ranked {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #181818;
    z-index: 50;
    border-radius: 5px;
    width: 350px;
    transition: 500ms;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main .ranked.display {
    height: 400px;
}

main .ranked.display .displayed {
    background:#232323;
}

main .ranked:not(.display) .displayed svg {
    transform:rotate(-180deg);
}

main .ranked:not(.display) .list {
    height:0;
}



main .ranked .displayed {
    display: grid;
    grid-template-columns: calc(100% - 30px) 30px;
    width: 100%;
    height: 70px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 25px;
}

main .ranked .displayed:hover {
    background:#232323;
}

main .ranked .displayed h4 {
    color: rgba(255, 115, 78, 255);
    font-weight: 400;
}

main .ranked .displayed h3 {
    font-size: 15px;
    color:#909090;
    margin-top:7px;

    font-weight: 400;
}
main .ranked .displayed svg {
    width: 20px;
    height: 20px;
    transition: 500ms;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #202020;
}
::-webkit-scrollbar-thumb {
    background: #303030;
}
::-webkit-scrollbar-thumb:hover {
    background: #303030;
}
main .ranked .displayed svg path {stroke: #ccc; }
main .ranked .displayed div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}
main .ranked .list {
    width: 100%;
    height: 330px;
    overflow-x: hidden;
    transition: 500ms;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #303030 #202020;
}

main .ranked .list .item {
    display: grid;
    font-family: 'Rubik';
    grid-template-columns: 45px calc(100% - 145px) 100px;
    padding: 0 25px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #909090;
    align-items: center;
}

main .ranked .list .item div:nth-child(2) {
    color: #eee;
}

main .ranked .list .item div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}


main .block_status {
    position: fixed;
    bottom: 40px;
    left:40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background:#181818;
    z-index: 20;
    height: 70px;
    transition: 500ms;
    padding:12px 30px 12px 20px;
    border-radius: 5px;
}
main .block_status h4 {
    color: rgba(255, 115, 78, 255);
    font-weight: 400;
}

main .block_status h3 {
    font-size: 18px;
    color:#eee;
    margin-top:5px;

    font-weight: 300;
}

main .colors {
    position: fixed;
    left: 0;
    z-index: 50;
    bottom: -200px;
    right: 0;
    background: #ececec;
    display: flex !important;
    transition: 500ms;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    justify-content: center;
    padding: 0 50px;
    height: 200px;
}

main .container.open-colors .colors {
    bottom:0;
}

main .container.open-colors .block_status {
    bottom: 230px;
}

main .container.open-colors .ranked {
    bottom: 230px;
}


main .colors p {
    font-weight: 500;
    color: #303030;
    font-size: 18px;
}
main .colors .actionbar {
    display: grid;
    grid-template-columns: 40px calc(100% - 40px);
    align-items: center;
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    margin:0 auto 25px auto;
}

main .colors .hoverable {
    padding:5px;
    display: inline-flex;
    border-radius: 10px;
    transition: 150ms;
}

main .colors .palette {
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    margin:0 auto 25px auto;
}

main .colors .hoverable:hover {
    background: #CCCCCC;
    cursor: pointer;
}

main .colors .close svg {
    width: 25px;
    height: 25px;
    color: #606060;
}




.colors .color {
    display: inline-flex;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    transition: 150ms;
}

.colors .color:hover {
    transform:scale(1.1);
    cursor:pointer
}